@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

body {
    font-family: "Fascinate", cursive;
    font-weight: bolder;
    color: white;
    background-image: image("https://wallpaperaccess.com/full/86289.jpg");
    user-select: none;
}

#main-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2%;
}

#nav {
    display: absolute;
    width: 99%;
    text-align: left;
    padding-left: .5%;
    padding-top: .01%;
    padding-bottom: .01%;
    border-radius: 25px;
    border-bottom-left-radius: 0%;
    border: 5px white solid;
    background-color: teal;
    color: white;
    animation: spin 3s linear 0s 2 normal none;
}

#nav-text {
    display: absolute;
    width: 100%;
    text-decoration: none;
    color: white;
    padding-left: 1%;
    line-height: 100%;
    top: 4.5%;
    transition: opacity 0.2s ease-in-out;
}

#nav-text:hover {
    opacity: 0.5;
}

#nav-text-current {
    display: absolute;
    width: 100%;
    border: 5px greenyellow solid;
    border-radius: 50;
    color: white;
    padding-left: 1%;
    line-height: 100%;
    top: 4.5%;
    transition: opacity 0.2s ease-in-out;
}

#nav-text-current:hover {
    opacity: 0.5;
}

#nav li {
    display: inline;
}

#logo {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border-top-left-radius: 0%;
    animation: spin 0.1s linear 0s infinite normal none;
    transition: opacity 0.2s ease-in-out;
}

#logo:hover {
    opacity: 0.5;
}

#logo-current {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border-top-left-radius: 0%;
    border: 5px greenyellow solid;
    animation: spin 0.1s linear 0s infinite normal none;
    transition: opacity 0.2s ease-in-out;
}

#logo-current:hover {
    opacity: 0.5;
}

#table-row {
    margin: 5px;
}

#table-image {
    width: 10em;
    height: 10em;
    border-radius: 15px;
    border: 5px solid darkgoldenrod;
    animation: spin 3s linear 0s 2 normal none;
    transition: all 0.2s ease-in-out;
    margin: 5px;
}

#table-image:hover {
    opacity: .5;
    width: 11em;
    height: 11em;
}

#image-friend {
    animation: spin 3s linear 0s 2 normal none;
    width: 10em;
    height: 10em;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
}

#image-friend:hover {
    opacity: .5;
    width: 11em;
    height: 11em;
}

#image-link {
    width: 3em;
    height: 3em;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
}

#image-friend:hover {
    opacity: .5;
}

#animate {
    animation: spin 3s linear 0s 2 normal none;
}

#spin {
    animation: spin 3s linear 0s infinite normal none;
}

#footer-text {
    text-align: center;
}

@keyframes spin {
    0.0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
